!!! 5
html(lang="en")
  head
    title Tower D!
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/models/map-client.js')
    script(type='text/javascript', src='/js/models/tower-client.js')
    script(type='text/javascript', src='/js/models/mob-client.js')
    script(type='text/javascript', src='/js/client.js')

        
  body
    header
      h1 
        a#toggle.play(href="#") 4
    != body